<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <h1>Books</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Actions</th>
      </tr>
      <% for(var i = 0; i < movies.length; i++){%>
      <tr>
        <td><%= movies[i].title%></td>
        <td><%= movies[i].director%></td>
        <td>
          <a href="/movie/<%=movies[i].movie_id%>">View</a>
          <a href="/update/<%=movies[i].movie_id%>">Edit</a>
          <a href="/delete/<%=movies[i].movie_id%>">Delete</a>
        </td>
      </tr>
      <%}%>
    </table>
    <a href="/create">Add New Movie</a>
  </body>
</html>
